.bg_general {
  background-image: url("https://st.depositphotos.com/1000423/1267/i/450/depositphotos_12673266-stock-photo-dna-strand-illustration.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 5%;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;
}
#myProgress {
  width: 100%;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
}
#myBar {
  width: 0%;
  height: 30px;
  background-color: green;
}